<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
	<%- include('../partials/admin-nav.ejs') %>
	<div class="admin-title">
		<h2>Dashboard</h2>
		<a href="/menu/add-item" class="button">+ Add New Item</a>
	</div>
	
	<nav>
		<li><a href="/dashboard">Food</a></li>
		<li><a href="/dashboard/drinks">Drinks</a></li>
	</nav>
	<% Object.keys(itemsByCategory).forEach(category=> { %>
		<div class="category-section">
			<h2><a href="/dashboard/<%= category %>"><%= category %></a></h2>
		</div>
	<% }) %>
	<% if(Object.keys(itemsByCategory).length === 0) { %>
		<p>There Is Nothing To Dispaly</p>
	<% } %>
	<%- include('../partials/footer.ejs') %>
</body>
</html>
<!-- 
<div class="admin-title">
	<h2>Posts</h2>
	<a href="/add-post" class="button">+ Add New</a>
</div> -->