<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
	<h2><%= category %></h2>
	<% items.forEach(item => { %>
		<h3><%= item.name %></h3>
		<p><%= item.description %></p>
		<p>₦<%= item.price.toFixed(2)%></p>
	<% }) %>
	<%- include('../partials/footer.ejs') %>
</body>
</html>