<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
	<%- include('../partials/admin-nav.ejs') %>
	<h2><%= category %></h2>
	<div class="section-details">
		<% items.forEach(item => { %>
		<h3><%= item.name %></h3>
		<p><%= item.description %></p>
		<p>₦<%= item.price.toFixed(2)%></p>

		<div class="operation-btn">
			<br>
			<form action="/edit/<%= item.name %>" method="edit">
				<button type="submit">Edit</button>
			</form>
			<form action="/dashboard/<%= item._id %>" method="POST">
				<button type="submit">Delete</button>
			</form>
		</div>
	<% }) %>
	</div>

	<%- include('../partials/footer.ejs') %>
</body>
</html>