<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
	<%- include('../partials/admin-nav.ejs') %>
	<h2>Drinks</h2>
	<a href="/menu/add-item" class="button">+ Add New Item</a>
	<!-- <p>Click on a category to view items</p>
	<p>Click on the category name to add a new item</p>
	<p>Click on an item to edit or delete it</p>
	<p>Click on the food or drinks link to switch between sections</p>
	<p>Click on the dashboard link to return to the dashboard</p>
	<p>Click on the home link to return to the home page</p> -->
	<nav>
		<li><a href="/dashboard">Food</a></li>
		<li><a href="/dashboard/drinks">Drinks</a></li>
	</nav>
	<% Object.keys(itemsByCategory).forEach(category=> { %>
		<div class="category-section">
			<h2><a href="/dashboard/drinks/<%= category %>"><%= category %></a></h2>
		</div>
	<% }) %>
	<% if(Object.keys(itemsByCategory).length === 0) { %>
		<p>There Is Nothing To Dispaly</p>
	<% } %>
	<%- include('../partials/footer.ejs') %>
</body>
</html>